# Ignore node_modules to prevent rebuilding inside the Docker image
node_modules
node_modules/*

# Ignore build artifacts if already built
dist
dist/*

# Ignore temporary files and logs
*.log
*.env
*.env.local
*.env.development
*.env.production
*.env.test
*.tmp

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore Git-related files
.git
.gitignore

# Ignore IDE or editor configuration files
*.vscode
.idea
*.swp

# Ignore package-lock.json (optional, if you only want dependencies from package.json)
package-lock.json

# Ignore other unwanted files or folders
coverage
*.png